.CommentBox{
    display: flex;
    justify-content: space-between;
}
.CommentInput{
    /* color: black; */
    margin-left: 10px;
    flex: 0.9;
    width: 300px;
    border: 0;
    border-bottom: 2px solid lightblue;
    background: transparent;
}

.maincontainer{
    display: flex;
    flex-direction: column;
    height: 80vh;
}
.upperdiv{
    flex: 1;
}

.middlediv{
    flex: 5;
    overflow-y: scroll;
    /* overflow-y: hidden; */
    overflow-x: hidden;
}

.bottomdiv{
    flex: 1;
    display: flex;
}